@using System.Diagnostics;
@{

    ViewData["Title"] = "Clock";

}
@section Scripts
    {
    <script src="@Url.Content("~/js/timer.js")"></script>
}

<h2>Clock</h2>
<div id="clock">
    0:00

</div>
<button onclick="startTimer()" id="startButton">Start</button>
<button onclick="stopTimer()" id="stopButton">Stop</button>
<div>
   <img src="@ViewData["userProfile"]" />
</div>


